{% extends 'blog/base.html' %}
{% block content %}

<div class="container">
  <ul class="tabs tabs-fixed-width tabs-swipe-demo">
    <li class="tab col s3"><a class="blue-text" href="{% url 'pregnancy_update' obj.id %}"><i class="material-icons">edit</i>Edit</a></li>
    <li class="tab col s3"><a class="red-text" href="{% url 'pregnancy_delete' obj.id %}"><i class="material-icons">delete</i>Delete</a></li>
    <li class="tab col s3"><a class="blue-grey-text" href="#"><i class="material-icons">account_circle</i>Profile</a></li>
  </ul>

  <div class="col s12 m8 l8 xl8">
    <div class="card-panel z-depth-0 blue-grey darken-4 white-text">
      <div class="card-content">
        <p class="light"><b>Date:</b> {{obj.date}}</p>
        <p class="light"><b>Method of Birth Control:</b> {{obj.method_of_birth_control}}</p>
        <p class="light"><b>Pregnancy Risk:</b> {{obj.pregnancy_risk}}</p>
        <p class="light"><b>Partner:</b> {{obj.partner}}</p>
        <p class="light"><b>Relationship Status:</b> {{obj.relationship_status}}</p>
        <p class="light"><b>Lubrication:</b> {{obj.lubrication}}</p>
      </div>
    </div>
    <a href="{% url 'intercourse_list' %}" class="btn waves-effect waves-light z-depth-0 blue-grey darken-4">Back to List</a>
  </div>
</div>

{% endblock %}

