{% extends 'blog/base.html' %}
{% block content %}

<div class="container">
  <ul class="tabs tabs-fixed-width tabs-swipe-demo">
    <li class="tab col s3"><a class="blue-text" href="{% url 'ovulation_update' obj.id %}"><i class="material-icons">edit</i>Edit</a></li>
    <li class="tab col s3"><a class="red-text" href="{% url 'ovulation_delete' obj.id %}"><i class="material-icons">delete</i>Delete</a></li>
    <li class="tab col s3"><a class="blue-grey-text" href="#"><i class="material-icons">account_circle</i>Profile</a></li>
  </ul>

  <div class="col s12 m8 l8 xl8">
    <div class="card-panel z-depth-0 blue-grey darken-4 white-text">
      <div class="card-content">
        <p class="light"><b>Author:</b> {{obj.author|title}}</p>
        <p class="light"><b>Date:</b> {{obj.date|date}}</p>
        <p class="light"><b>Fertility Window:</b> {{obj.fertility_window|title}}</p>
        <p class="light"><b>Ovulation Method:</b> {{obj.ovulation_method|title}}</p>
      </div>
    </div>
    <a href="{% url 'ovulation_list' %}" class="btn waves-effect waves-light z-depth-0 blue-grey darken-4">Back to List</a>
  </div>
</div>

{% endblock %}

