{% load static %}
<div class="sidebar-right card-panel z-depth-0">
    <h6>More Information</h6>
    <ul>
        <li style="margin-bottom: 15px;"><a class="blue-grey-text" href="{% url 'homepage_list' %}"><i class="material-icons">add</i>Menstruation</a></li>

        <li style="margin-bottom: 15px;"><a class="blue-grey-text" href="{% url 'homepage_list' %}"><i class="material-icons">add</i>Ovulation</a></li>

        <li style="margin-bottom: 15px;"><a class="blue-grey-text" href="{% url 'homepage_list' %}"><i class="material-icons">add</i>Intercourse</a></li>

        <li style="margin-bottom: 15px;"><a class="blue-grey-text" href="{% url 'homepage_list' %}"><i class="material-icons">add</i>Pregnancy</a></li>

        <li style="margin-bottom: 15px;"><a class="blue-grey-text" href="{% url 'homepage_list' %}"><i class="material-icons">add</i>Menopause</a></li>

    </ul>
</div>

